<footer>

  <div class="container">
    <div id="footerNav">
      {% include general/navigation1.html %}
      {% include general/navigation2.html %}
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div id="socialMedia" class="gridSpace footerConect">
          <h3>volg <span class="lobster">Bloei en Leef</span></h3>
          <div class="socialMediaContainer">
            <a href="https://twitter.com/BloeienLeef"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/BloeienLeef"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/bloeienleef"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="https://instagram.com/bloeienleef"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://nl.pinterest.com/explore/badkuipen/"><i class="fa fa-bath" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="gridSpace footerConect">
          {% include forms/nieuwsbrief.html %}
        </div>
      </div>
    </div>
  </div>
</footer>
