<div class="statNavContainer">

  <div onclick="" class="statNavLogo">
    {% include logos/logo-Bloei-en-Leef.svg %}
  </div>

  <div id="statNav" class="unClicked">
    <p id="searchIconStat" class="aStyle"onclick=""><i class="fa fa-search" aria-hidden="true"></i></p>
    {% include general/navigation1.html %}
    <p id="meer" class="aStyle" onclick="">meer</p>
    <span id="meerSpan" class="displayNone">{% include general/navigation2.html %}</span>
    <div id="searchNav"class="height0">
      {% include general/searchForm.html %}
    </div>
  </div>

</div>
