#newsSection
  .newsCard
    border-radius: $bl-border-radius
    background-color: $bl-news-gray
    .cardTitle
      h2
        text-shadow: 2px 2px 5px white, 2px -2px 5px white, -2px 2px 5px white, 0px 0px 15px white
        a
          color: $bl-text-color
          &:hover
            color: $bl-hover-color
    .imgCard
      height: 30vh
      background-size: cover
      background-position: top
      clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0)
      border-radius: $bl-border-radius
      padding: 20px
    .cardInfo
      padding: 10px 20px
      h3, h4
        text-align: left
        &:hover
          color: $bl-hover-color
      .ImgUrl
        display: none

  .newsCard
    .displayNot
      display: none
    .display
      display: relative
