.jumbotron
  // background-image: url(../img/backgrounds/bloei-en-leef-recepten-background-img.jpg)
  background-position: center
  background-size: cover
  height: 50vh
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 40px
  h2, h1
    align-self: center
    color: white
    text-shadow: 2px 2px 5px black, 2px -2px 5px black, -2px 2px 5px black, 0px 0px 15px black
.receptenInfo
  display: inline-flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  #receptSuffice
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .suffice
      margin-right: 20px
  #searchIcon
    &:hover
      cursor: pointer
.receptenNav
  display: flex
  flex-direction: column
.height0
  height: 0
.heightAuto
  height: auto
.receptCard
  background-position: center
  background-size: cover
  border: 10px solid white
  border-radius: $bl-border-radius
  h2
    background-color: rgba( 0,0,0,0.5)
    padding: 10px
    border-radius: $bl-border-radius-smal
    a
      color: white
      &:hover
        color: $bl-green
  .receptInfoCard
    .receptInfo
      color: white
      text-shadow: 2px 2px 5px black, 2px -2px 5px black, -2px 2px 5px black, 0px 0px 15px black
      padding: 10px
    .receptIntro
      padding: 10px
      border-radius: $bl-border-radius-smal
      margin-bottom: 10px
      opacity: 0
    &:hover
      background-color: rgba( 255,255,255,0.9)
      border-radius: $bl-border-radius-smal
  .receptInfoCard:hover .receptIntro
    opacity: 1
  .receptInfoCard:hover .receptInfo
    color: $bl-text-color
    text-shadow: none
