footer
  margin-top: 8vh
  border-top: 1px dotted $bl-green
  padding-top: 7vh
  #footerNav
    margin-bottom: 8vh
    .nav1
      display: inline
      a:nth-child(1)
        font-size: 1em
      a:nth-child(2)
        font-size: 4em
      a:nth-child(3)
        font-size: 1.5em
      a:nth-child(4)
        font-size: 2.3em
        color: hotpink
        &:hover
          color: $bl-hover-color
      a:nth-child(5)
        font-size: 1.1em
        border: 2px dotted $bl-hover-color
        padding: 0.2em
        border-radius: 1.2em
      a:nth-child(6)
        font-size: 2.5em
        color: chocolate
        &:hover
          color: $bl-hover-color

    #nav2
      display: inline
      a:nth-child(1)
        font-size: 1em
      a:nth-child(2)
        font-size: 1.5em
      a:nth-child(3)
        font-size: 2.2em
      a:nth-child(4)
        font-size: 1em
      a:nth-child(5)
        font-size: 3em
        color: gold
        &:hover
          color: $bl-hover-color
      a:nth-child(6)
        font-size: 1.3em
      a:nth-child(7)
        font-size: 1em
      a:nth-child(8)
        font-size: 2.8em
      a:nth-child(9)
        font-size: 1.3em

  #socialMedia
    background: #3494E6
    background: -webkit-linear-gradient(to left, $bl-hover-color , $bl-green)
    background: linear-gradient(to left, $bl-hover-color , $bl-green)
    border-radius: $bl-border-radius
    color: white
    display: flex
    justify-content: space-around
    flex-direction: column
    h3
      color: white
      .lobster
        font-size: 2em
    .socialMediaContainer
      display: inline-flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      width: 100%
      i
        color: white
        margin: 3%
        font-size: 4em
        &:hover
          text-shadow: 2px 2px 3px black

// nieuwsbrief sass in _sass/forms/nieuwsbrief.sass
