// %searchBarLayout
.tipue_search_right
  display: flex
  flex-direction: row
  justify-content: flex-end
  textarea, input
    width: 100%
    padding-left: 20px
    box-sizing: border-box
    border: 2px solid $bl-news-gray
    background-color: $bl-news-gray
    margin: 10px 0
    color: $bl-green
    height: 2.5em
    border-radius: $bl-border-radius-small
    &:focus
      background-color: white
      border: 2px solid $bl-green
      outline: 0
      color: $bl-text-color

#searchSection
  #tipue_search_results_count
    text-align: right

  .tipue_search_content_title
    a
      font-size: 2em
      font-weight: bold
      color: $bl-green
      text-decoration: underline
      &:hover
        color: $bl-hover-color

  .tipue_search_content_url
    a
      font-size: 1.3em
      color: $bl-hover-color
      &:hover
        text-decoration: underline

  .tipue_search_content_text
    font-size: 1.3em
    color: $bl-text-color
    margin-bottom: 4vmin

  .tipue_search_content_bold
    font-weight: bold
    color: $bl-green
