<section id=newsSection>
  <div class="container">
    <div class="row">

      <div id="logoFlower">
        <div class="logo">{% include logos/leaf-Bloei-en-Leef.svg %}</div>
      </div>

      <div id="card1" class="col-lg-4 col-sm-6 newsCard">
        <div class="cardBorder">
          <div class="imgCard" style="background-image: url({{site.baseurl}}/img/recepten/brownie.jpg)">
            <div class="cardTitle">
              <h2><a href="{{site.baseurl}}/recepten.html">recepten</a></h2>
            </div>
          </div>
          <div class="cardInfo">
                <h3>Brownie maken</h3>
                <h4>hormoon proof</h4>
          </div>
        </div>
      </div>

      <div id="card2" class="col-lg-4 col-sm-6 newsCard">
        <div class="cardBorder">
          <div class="imgCard">
            <div class="cardTitle">
              <h2>blogs</h2>
            </div>
          </div>
          <div class="cardInfo">
                <h3>Succesverhaal van Melinda</h3>
                <h4>wie niet waagt, wie niet wint...</h4>
          </div>
        </div>
      </div>

      <div id="card3" class="col-lg-4 col-sm-12 newsCard">
        <div class="cardBorder">
          <div class="imgCard">
            <div class="cardTitle">
              <h2>weetjes</h2>
            </div>
          </div>
          <div class="cardInfo">
                <h3>Rozemarijn</h3>
                <h4>prachtig mooi in geur, smaak en beleving</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

</section>
