---
layout: default
---
<section id="receptSection">
  <div class="container">
    <div class="pagetitleElement"style="background-image: url({{site.baseurl}}/img/recepten/{{page.imageName}})" class="titleElement">
      <h1>{{page.title}}</h1>
    </div>
    <div class="contentTitleInfo">
      <a id="backToPrevious" href="{{site.baseurl}}/recepten"><i class="fa fa-undo" aria-hidden="true"></i> RECEPTEN</a>
      <p id="date">{{page.dateAdded}}</p>
    </div>
    <div class="contentContent">
      <label><h5>kies aantal personen... (<span class="personen">4</span>)</h5>
        <div class="inputBar">
          <span>1</span>
          <input type="range" value="4" min="1" max="12">
          <span>12</span>
        </div>
      </label>
      <h5><i class="fa fa-clock-o" aria-hidden="true"></i>  {{ page.time }}  min
        {% if page.vegetarian %}
        <span class="icon-vegetarian"></span>
        {% endif %}
        {% if page.hormone %}
        <span class="icon-hormone"></span>
        {% endif %}
        {% if page.glutenFree %}
        <span class="icon-nogluten"></span>
        {% endif %}
        {% if page.dairyFree %}
        <span class="icon-nomilk"></span>
        {% endif %}
        {% if page.sugarFree %}
        <span class="icon-nosugar"></span>
        {% endif %}</h5>
      <p><strong>{{ page.intro }}</strong></p>
      {{ content }}
    </div>
    <h5>Reageer hier op dit recept <strong>...{{ page.title }}...</strong></h5>
    {% include forms/webReactie.html %}
  </div>
  {% for c in site.recepten %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.recepten %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.recepten %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<div id="post-nav">
  <div >
      {% if prevPost.url %}
      <a class="previous" href="{{prevPost.url}}">
          <span>&lt; {{prevPost.title}}</span>
      </a>
      {% endif %}
      {% if nextPost.url %}
      <a class="next" href="{{nextPost.url}}">
          <span>{{nextPost.title}} &gt;</span>
      </a>
      {% endif %}
  </div>
</div>
</section>

<!-- Js pullins at bottom of body -->
{% include general/jsPullinsRecept.html %}
