<div class="nieuwsbrief">
  <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {alert('Uw aanmelding/afmelding is verwerkt');}"></iframe>
  <form action="https://docs.google.com/forms/d/e/1FAIpQLSeDWfr0Y1VOSubViyk_Y91VFVbVsYP1sRndTMeryNDqw-L_qw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <div class="radioContainer">
      <p class="inputContainer"><input type="radio" name="entry.1031887960" value="Aanmelden"><label for="contact_nom">Aanmelden</label></p>
      <p class="inputContainer"><input type="radio" name="entry.1031887960" value="Afmelden"><label for="contact_nom">Afmelden</label></p>
    </div>
    <h3>voor de nieuwsbrief</h3>
    <p><input type="text" name="entry.116606776" value="" id ="contact_nom" placeholder="naam"></p>
		<p><input type="email" name="entry.1184138030" value="" id ="contact_email" placeholder="email"></p>
    <div class="sendButtonContainer">
      <input type="submit" value="verzenden">
    </div>
	</form>
</div>
